@model RestauranteSoftware.viewModels.PedidosComidas
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PedidosEntitys</h4>
<hr />
<div class="row h-100">
   
    <div class="col-6 bg-light">
       
        <form asp-action="Create" class=" w-75" asp-route-Mmodel="Model.IdComidas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pedido.Fecha" class="control-label"></label>
                <input asp-for="Pedido.Fecha" class="form-control" type="date" />
                <span asp-validation-for="Pedido.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.EstadoId" class="control-label"></label>
                <select asp-for="Pedido.EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.TotalPedido" class="control-label"></label>
                <input asp-for="Pedido.TotalPedido" class="form-control" />
                <span asp-validation-for="Pedido.TotalPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
           
        </form>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <div class="bg-danger h-100 mt-4 w-100">

            @*    LISTA CREO *@
            @if (Model.ListaComida.getIdCom() != null)
            {
                var list = Model.ListaComida.getIdCom();
                var listCant = Model.ListaComida.getCant();
                var listNom = Model.ListaComida.getNom();

                @for (int i = 0; i < list.Count; i++)
                {
                    <div style="display: flex; align-items: center; gap: 10px; white-space: nowrap;">
                        <p>@list[i]</p>
                        <p>@listNom[i]</p>
                        <input type="number" value="@listCant[i]" readonly />
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-6 bg-info">
        @*    VISTA DE DETALLE *@
        @for (int i = 0; i < Model.Comidas.Count; i++)
        {
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <img src="@Model.Comidas[i].ImagenUrl" class="card-img-top" alt="Imagen de @Model.Comidas[i].Nombre">
                    <div class="card-body">
                        <h5 class="card-title" >@Model.Comidas[i].Nombre</h5>
                        <p class="card-text"><strong>Precio:</strong> Bs @Model.Comidas[i].Precio</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <form asp-action="AddComidas" method="post" asp-route-id="@Model.Comidas[i].Id">
                                    <input id="quantityInput_@i" name="quantity" type="number" min="1" class="btn btn-sm btn-outline-secondary" value="1" />
                                    <button type="submit">@Model.Comidas[i].Id</button>
                                    <input type="hidden" name="nom" value="@Model.Comidas[i].Nombre" />

                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
