@model Data.Data.Entitys.PedidosEntitys

@{
    ViewData["Title"] = "Details";
}
<style>
    body, html {
       
        background-color:aliceblue;
        color: #007acc;
        font-family: 'Source Sans Pro', sans-serif;
        height: 100%;
        overflow-x: hidden;
    }
 </style>
<h1>Details</h1>

<div>
    <h4>PedidosEntitys</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPedido.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
