@model IEnumerable<Data.Data.Entitys.ComidasEntitys>

@{
    ViewData["Title"] = "Index";
}

<h1>Comidas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm">
                <img src="@item.ImagenUrl" class="card-img-top" alt="Imagen de @item.Nombre">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">@item.Descripcion</p>
                    <p class="card-text"><strong>Precio:</strong> $@item.Precio</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                            <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

